.parent{
  display: flex;
  flex-direction: row;
 border:3px solid red;
}
.child1{
  border:5px solid blue;
  padding:3%;
  margin: 2%;
  width: 30%;
  border-radius:10%;
  text-align: center;
}
.child2{
  border:5px solid pink;
  padding:3%;
  margin:2%;
  width: 70%;
  border-radius:10%;
}
.img{
  width=40%;
  border: 5px solid pink;
  border-radius:50%;
  display:block;
  margin-left:auto;
  margin-right:auto;

}
